			html,
			body {
				font-family: "微软雅黑", YaHei, tahoma, arial, "Hiragino Sans GB", 宋体;
				font-size: 14px;
			}
			
			a,
			a:hover,
			a:focus {
				text-decoration: none;
			}
			
			p {
				margin: 0;
			}
			
			img {}
			
			ul,
			li {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			
			body {
				position: relative;
			}
			/*导航栏当前样式*/
			
			.nav_list a.dq {
				color: #940c16!important;
				font-weight: bold;
			}
			/*顶部导航样式*/
			
			header .header_pc {
				position: absolute;
				z-index: 100;
				width: 100%;
				background: url(../img/header_bg_sd.png) repeat-x;
			}
			
			header .header_pc .top_bar,
			.footer_bar {
				background: url(../img/top_bar.jpg) no-repeat center;
				width: 100%;
				height: 5px;
			}
			
			header .header_pc .header_about ul {
				float: right;
			}
			
			header .header_pc .header_about ul li {
				float: left;
				margin: 19px 0 24px 0;
				line-height: 12px;
				border-right: 1px solid #fff;
			}
			
			header .header_pc .header_about ul li:last-child {
				border: none;
			}
			
			header .header_pc .header_about ul li a {
				margin: 0 20px;
				color: #fff;
				transition: all ease .3s;
				-webkit-transition: all ease .3s;
			}
			
			header .header_pc .header_about ul li a:hover {
				opacity: .8;
			}
			
			header .header_pc .header_about ul li a.iconnew {
				margin-right: 0;
			}
			
			header .header_pc .header_about ul li a.iconnew span {
				background: url(../img/icon_header.png) no-repeat;
				margin: -6px 0 0 0;
				display: inline-block;
				width: 23px;
				height: 23px;
			}
			
			header .header_pc .header_about ul li a span.icon_n1 {
				background-position: 0 0;
			}
			
			header .header_pc .header_about ul li a span.icon_n2 {
				background-position: -46px 0;
			}
			
			header .header_pc .header_about ul li a span.icon_n3 {
				background-position: -90px 0;
			}
			/*logo部分导航样式*/
			
			header .header_pc .header_menu {
				position: relative;
				width: 100%;
				height: 83px;
				padding: 6px 0 7px 0;
				background: url(../img/header_bg.png) no-repeat center;
				top: -12px;
			}
			
			header .header_pc .header_menu .container {
				position: relative;
			}
			
			header .header_pc .header_menu .logo {
				float: left;
				margin: 17px 0 0 26px;
			}
			
			header .header_pc .header_menu .search {
				float: right;
				display: inline-block;
				width: 67px;
				height: 70px;
				margin: -5px 0 0 10px;
				line-height: 70px;
				text-align: center;
				font-size: 22px;
				color: #000;
			}
			
			header .header_pc .header_menu .nav_list ul {
				float: right;
				height: 70px;
			}
			
			header .header_pc .header_menu .nav_list ul>li {
				float: left;
				height: 70px;
				line-height: 70px;
				padding: 0 30px;
				cursor: pointer;
			}
			
			header .header_pc .header_menu .nav_list ul>li a {
				color: #04287e;
				font-size: 16px;
			}
			
			header .header_pc .header_menu .nav_list ul>li:hover>a {
				font-weight: bold;
				color: #940c16;
			}
			
			header .header_pc .header_menu .nav_list ul>li.active {
				background: #ffffff;
			}
			
			header .header_pc .header_menu .nav_list ul>li.active>a {
				color: #940c16;
				font-weight: bold;
				border-bottom: 2px solid #a40000;
			}
			
			header .header_pc .header_menu .nav_list ul>li.active .pop_menu {
				display: block;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu {
				height: auto;
				background: #fff;
				padding: 10px 6px;
				width: 100%;
				position: absolute;
				top: 70px;
				left: 0;
				cursor: default;
				color: #000;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu {
				display: none;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu dl {
				float: left;
				padding: 0 6px;
				text-align: center;
				border-right: 1px solid #dbdbdb;
				height: 100%;
				margin: 0;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu dl:last-child {
				border: none;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu dl dt {
				padding: 0 0 10px 0;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu dl dd.t {
				padding: 5px 0 10px 0;
				font-size: 16px;
				color: #04287e;
				font-weight: bold;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu dl dd a {
				font-size: 14px;
				color: #444444;
				line-height: 30px;
				transition: all ease .2s;
				-webkit-transition: all ease .2s;
			}
			
			header .header_pc .header_menu .nav_list .pop_menu dl dd a:hover {
				color: #940c16;
			}
			/*固定导航栏*/
			/*header .header_pc .top_bar.affix {
				position: fixed;
			}
			*/
			
			header .header_pc .header_menu.affix .logo {
				margin-top: 22px;
			}
			
			header .header_pc .header_menu.affix {
				position: fixed;
				background: #f4f3f3;
				top: 5px;
				height: 80px;
				padding: 0;
				box-shadow: 0 2px 6px -2px #444;
				transition: all ease .3s;
				-webkit-transition: all ease .3s;
			}
			
			header .header_pc .header_menu.affix .search {
				margin-top: 5px;
			}
			
			header .header_pc .header_menu.affix .nav_list ul>li {
				line-height: 80px;
				height: 80px;
			}
			
			header .header_pc .header_menu.affix .pop_menu {
				top: 80px;
			}
			/*banner图*/
			
			.index_kv {
				width: 100%;
				height: 400px;
				position: relative;
				overflow: hidden;
			}
			
			.index_kv.index {
				height: 550px;
			}
			
			.index_kv.jz {
				height: 500px;
			}
			
			.index_kv img.kv_pc {
				position: absolute;
				left: 50%;
				margin-left: -960px;
			}
			
			.index_kv img.kv_wap {
				display: none;
			}
			
			.index_kv .swiper-container {
				height: 100%;
				width: 100%;
			}
			
			.index_kv .swiper-container .swiper-slide {
				overflow: hidden;
			}
			/*中间内容*/
			
			.main_title {
				position: relative;
				margin: 40px 2%;
				color: #444444;
				text-align: center;
				overflow: hidden;
			}
			
			.main_title img {
				display: block;
				margin: 10px 0 0 -173.5px;
				position: relative;
				left: 50%;
			}
			
			.i_t>img {
				margin-bottom: 20px;
			}
			
			.main_title p {
				font-size: 24px;
			}
			
			.main_title.i_t {
				font-size: 20px;
			}
			
			.main_title.i_t img {
				position: relative;
				margin-bottom: 20px;
			}
			/*我要产品*/
			
			.for_pro {
				position: relative;
				overflow: hidden;
			}
			
			.for_pro .fp_l {
				float: left;
				margin-right: 9px;
				width: 710px;
			}
			
			.for_pro .fp_con {
				float: left;
				border: 1px solid #f3f3f3;
				position: relative;
				overflow: hidden;
			}
			
			.for_pro .fp_con>a img {
				transition: all ease 2s;
				-webkit-transition: all ease 2s;
			}
			
			.for_pro .fp_con:hover a>img {
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
			}
			
			.for_pro .fp_con .txt {
				color: #fff;
				font-size: 20px;
				padding: 12px 30px 10px 21px;
				position: absolute;
				bottom: 0;
				width: 100%;
				cursor: pointer;
			}
			
			.for_pro .fp_con .txt>img {
				float: right;
			}
			
			.for_pro .fp_l .fp_con:nth-child(1) {
				margin-bottom: 16px;
			}
			
			.for_pro .fp_l .fp_con:nth-child(2) {
				margin-right: 10px;
			}
			
			.for_pro .fp_r .fp_con:nth-child(1) {
				margin-bottom: 10px;
			}
			
			.for_pro .fp_l .fp_con:nth-child(1) .txt {
				background: rgba(91, 51, 25, .6);
			}
			
			.for_pro .fp_l .fp_con:nth-child(2) .txt {
				background: rgba(6, 35, 71, .6);
			}
			
			.for_pro .fp_l .fp_con:nth-child(3) .txt {
				background: rgba(106, 25, 124, .6)
			}
			
			.for_pro .fp_r .fp_con:nth-child(1) .txt {
				background: rgba(177, 126, 44, .6);
			}
			
			.for_pro .fp_r .fp_con:nth-child(2) .txt {
				background: rgba(0, 114, 193, .6);
			}
			/*我要服务*/
			
			.for_service {
				background: url(../img/for_service_bg.jpg) no-repeat center;
				height: 420px;
			}
			
			.for_service .fs_con {
				position: relative;
				overflow: hidden;
			}
			
			.for_service .fs_li {
				width: 195px;
				float: left;
				height: 420px;
				padding: 39px 10px 0 29px;
				position: relative;
				overflow: hidden;
				transition: all 1s ease;
				-webkit-transition: all 1s ease;
			}
			
			.for_service .fs_li:hover {
				cursor: pointer;
			}
			
			.for_service .fs_con .on {
				width: 390px;
			}
			
			.for_service .fs_con .fs_li:nth-child(1) {
				background: #39d8d1;
			}
			
			.for_service .fs_con .fs_li:nth-child(2) {
				background: #ff4e84;
			}
			
			.for_service .fs_con .fs_li:nth-child(3) {
				background: #f6c500;
			}
			
			.for_service .fs_con .fs_li:nth-child(4) {
				background: #b0d537;
			}
			
			.for_service .fs_con .fs_li:nth-child(5) {
				background: #41a0d6;
			}
			
			.for_service .fs_li .icon {
				height: 46px;
				margin-bottom: 35px;
			}
			
			.for_service .fs_li .txt h4 {
				margin-bottom: 25px;
				font-size: 24px;
				color: #fff;
				font-weight: bold;
			}
			
			.for_service .fs_li .txt h4 img {
				position: absolute;
				right: 0;
				top: 0;
				visibility: hidden;
				opacity: 0;
				transition: all 1s ease;
				-webkit-transition: all 1s ease;
			}
			
			.for_service .fs_li .txt h4 span {
				display: block;
				position: relative;
				overflow: hidden;
				width: 98px;
				padding-bottom: 15px;
				border-bottom: 1px solid #fff;
				transition: all 1s ease;
				-webkit-transition: all 1s ease;
			}
			
			.for_service .fs_li.on .txt h4 span {
				width: 200px;
			}
			
			.for_service .fs_li .txt p {
				color: #fff;
				font-size: 16px;
				line-height: 24px;
			}
			
			.for_service .fs_li img.li_bg {
				position: absolute;
				right: -200px;
				bottom: 0;
				visibility: hidden;
				opacity: 0;
				transition: all 1s ease .2s;
				-webkit-transition: all 1s ease .2s;
			}
			
			.for_service .fs_li.on .li_bg {
				visibility: visible;
				opacity: 1;
				right: 0;
			}
			
			.for_service .fs_li.on h4 img {
				visibility: visible;
				opacity: 1;
			}
			/*资讯中心*/
			
			.for_info {
				background: #f4f3f3;
			}
			
			.for_info .fi_one img {
				float: left;
				margin-top: 16px;
				position: relative;
				z-index: 1;
			}
			
			.for_info .fi_one .txt {
				float: left;
				margin-left: -33px;
				width: 732px;
				height: 354px;
				background: #fff;
				padding: 20px 94px 0 83px;
			}
			
			.for_info .txt h4 {
				color: #04287e;
				font-weight: bold;
				font-size: 24px;
				position: relative;
				margin-top: 35px;
			}
			
			.for_info .txt h4 span {
				display: block;
				width: 48px;
				height: 42px;
				background: url(../img/icon_data.png) no-repeat 100% 100%;
				color: #fff;
				font-size: 12px;
				text-align: center;
				line-height: 12px;
				padding: 9px 0;
				position: absolute;
				top: 50%;
				margin-top: -21px;
				right: -54px;
			}
			
			.for_info .txt h4 span b {
				font-size: 20px;
			}
			
			.for_info .fi_one .txt p {
				text-align: left;
				line-height: 30px;
				font-size: 14px;
				color: #444444;
				margin-top: 20px;
			}
			
			p.get_more {
				text-align: center;
				line-height: 21px!important;
			}
			
			p.get_more a {
				display: inline-block;
				margin: 0px 0;
				color: #04287e;
				border: 1px solid #04287e;
				padding: 10px 40px;
				border-radius: 0 10px 0 10px;
				cursor: pointer;
				transition: all ease .3s;
				-webkit-transition: all ease .3s;
			}
			
			p.get_more a:hover {
				opacity: .6;
			}
			
			.for_info .fi_list {
				width: 100%;
				position: relative;
				overflow: hidden;
				margin: 37px 0 117px 0;
				float: left;
			}
			
			.for_info .fi_list li {
				width: 568px;
				background: #fff;
				float: left;
			}
			
			.for_info .fi_list li:first-child {
				margin-right: 34px;
			}
			
			.for_info .fi_list li img {
				float: left;
			}
			
			.for_info .fi_list li .txt {
				width: 358px;
				float: left;
				padding: 0 84px 0 20px;
			}
			
			.for_info .fi_list li .txt h4 {
				font-size: 16px;
				line-height: 24px;
				margin: 25px 0 10px 0;
			}
			
			.for_info .fi_list li .txt h4 span {
				right: -69px;
			}
			
			.for_info .fi_list li .txt p {
				color: #000;
			}
			/*视频中心*/
			
			.video_center {
				position: relative;
				height: 651px;
				background: url(../img/video_center_bg.jpg) no-repeat center center;
			}
			
			.video_center .vc_con {
				width: 100%;
				height: 100%;
				position: relative;
			}
			
			.video_center .vc_con .vc_company {
				position: absolute;
				left: 0;
				width: 585px;
				top: 36px;
			}
			
			.video_center .vc_con .main_title p {
				color: #FFFFFF;
			}
			
			.video_center .vc_con .vc_company ul {
				padding-left: 47px;
				overflow: hidden;
			}
			
			.video_center .vc_con .vc_company ul li {
				float: left;
				width: 50%;
				margin-bottom: 40px;
			}
			
			.video_center .vc_con .vc_company ul li img {
				float: left;
				margin-right: 10px;
			}
			
			.video_center .vc_con .vc_company ul li .txt {
				color: #FFFFFF;
			}
			
			.video_center .vc_con .vc_company ul li .txt p {
				font-size: 16px;
				margin: 0;
			}
			
			.video_center .vc_con .vc_company ul li .txt h4 {
				font-weight: bold;
				font-size: 24px;
				margin: 0;
			}
			
			.video_center .vc_con .vc_company ul li .txt h4 b {
				font-size: 36px;
			}
			
			.video_center .vc_con .vc_video {
				position: absolute;
				right: 0;
				top: 36px;
				width: 585px;
				height: 578px;
			}
			
			.video_center .vc_con .vc_video .vd_main {
				width: 486px;
				height: 274px;
				position: relative;
				margin: 0 auto;
				box-shadow: 0px 0px 7px 3px #95bfe0;
			}
			
			.video_center .vc_con .vc_video .vd_main #my-video {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
			
			.video-js .vjs-big-play-button {
				border-radius: 2em;
				width: 2em;
				height: 2em;
				background: rgba(255, 255, 255, .8);
				line-height: 2em;
				left: 50%;
				top: 50%;
				margin-left: -1em;
				margin-top: -1em;
				border: none;
			}
			
			.video-js .vjs-big-play-button .vjs-icon-placeholder {
				color: #000;
				font-size: 1.5em;
			}
			
			.video_center .vc_con .get_more a {
				color: #fff;
				border-color: #fff;
				margin: 38px 0;
			}
			/*底部*/
			
			footer .footer_link {
				padding: 48px 0;
				background: #f4f3f3;
			}
			
			footer .footer_link .link_c {
				height: 164px;
				float: left;
				width: 25%;
				text-align: center;
				border-right: 1px solid #dbdbdb;
			}
			
			footer .footer_link .link_c:first-child {
				border-left: 1px solid #dbdbdb;
			}
			
			footer .footer_link .link_c li.t {
				font-size: 16px;
				padding: 15px 0;
				font-weight: bold;
				color: #2b3f88;
			}
			
			footer .footer_link .link_c li a {
				line-height: 26px;
				color: #707070;
				transition: all ease .3s;
				-webkit-transition: all ease .3s;
			}
			
			footer .footer_link .link_c li a:hover {
				opacity: .8;
			}
			
			footer .footer_info {
				color: #2b3f88;
				padding: 25px;
			}
			
			footer .footer_info .info_con {
				float: left;
			}
			
			footer .footer_info .info_share {
				line-height: 23px;
				font-weight: bold;
				margin-bottom: 8px;
			}
			
			footer .footer_info .info_share a {
				position: relative;
				display: inline-block;
				width: 28px;
				margin: 0 0 0 15px;
				height: 23px;
				background: url(../img/icon_footer_share.png) no-repeat;
				top: 5px;
			}
			
			footer .footer_info .info_share a.icon_wb {
				background-position: 0 0;
			}
			
			footer .footer_info .info_share a.icon_qq {
				background-position: -40px 0;
			}
			
			footer .footer_info .info_share a.icon_wx {
				background-position: -82px 0;
			}
			
			footer .footer_info .info_con .phone_number {
				font-size: 24px;
				font-weight: bold;
				line-height: 36px;
				margin-bottom: 8px;
			}
			
			footer .footer_info .info_con .phone_number a {
				color: inherit;
			}
			
			footer .footer_info .info_con .phone_number img {
				position: relative;
				top: -2px;
			}
			
			footer .footer_info .qr_code {
				float: right;
				margin-top: 10px;
			}
			
			footer .footer_info .qr_code ul li {
				float: left;
				text-align: center;
				margin-left: 30px;
			}
			
			footer .footer_info .qr_code ul li p {
				font-size: 12px;
				margin-top: 10px;
			}
			
			.pop_bg {
				position: fixed;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .5);
				top: 0;
				z-index: 99;
				display: none;
			}
			/*小于1200导航样式*/
			
			header .header_wap {
				position: fixed;
				z-index: 100;
				top: 0;
				left: 0;
				width: 100%;
				height: 50px;
				background: #f5f5f5;
				box-shadow: 0 2px 6px -2px #444;
			}
			
			header .header_wap a.wap_menu {
				display: inline-block;
				width: 38px;
				padding-left: 12px;
				line-height: 50px;
				color: #04287e;
				font-size: 20px;
			}
			
			header .header_wap a.wap_menu .glyphicon-arrow-left,
			header .header_wap a.wap_menu.on .glyphicon-menu-hamburger {
				display: none;
			}
			
			header .header_wap a.wap_menu.on .glyphicon-arrow-left {
				display: inline-block;
			}
			
			header .header_wap a.wap_logo {
				position: absolute;
				display: block;
				width: 96px;
				left: 50%;
				margin-left: -48px;
				top: 13px;
			}
			
			header .header_wap a.wap_logo img {
				width: 100%;
			}
			
			header .header_wap a.wap_search {
				float: right;
				font-size: 20px;
				color: #04287e;
				width: 38px;
				line-height: 50px;
				padding: 0 12px 0 0;
			}
			/*手机导航*/
			
			.wap_slide_bar {
				position: fixed;
				width: 100%;
				height: 100%;
				z-index: 99;
				background: #f5f5f5;
				padding-top: 50px;
				overflow: overlay;
				left: -100%;
				opacity: 0;
				transition: all ease .4s;
				-webkit-transition: all ease .4s;
			}
			
			.wap_slide_bar.show {
				transform: translate(100%, 0);
				-webkit-transform: translate(100%, 0);
				opacity: 1;
			}
			
			.wap_slide_bar .con {
				border-top: 10px solid #dcdcdc;
			}
			
			.wap_slide_bar h4 {
				font-size: 24px;
				color: #444444;
				padding: 6px 12px;
				border-bottom: 1px solid #dbdbdb;
				margin: 0;
				line-height: 50px;
			}
			
			.wap_slide_bar h4 b {
				font-weight: 600;
				padding: 5px 0;
				padding-left: 15px;
				border-left: 8px solid #fff;
			}
			
			.wap_slide_bar h4.on {
				color: #fff;
				border: none;
			}
			
			.wap_slide_bar h4:nth-of-type(1) b {
				border-color: #e3a929;
			}
			
			.wap_slide_bar h4:nth-of-type(2) b {
				border-color: #f15d1a;
			}
			
			.wap_slide_bar h4:nth-of-type(3) b {
				border-color: #c33c8a;
			}
			
			.wap_slide_bar h4:nth-of-type(4) b {
				border-color: #056bab;
			}
			
			.wap_slide_bar h4:nth-of-type(5) b {
				border-color: #03d89a;
			}
			
			.wap_slide_bar h4:nth-of-type(6) b {
				border-color: #358c30;
			}
			
			.wap_slide_bar h4:nth-of-type(1).on {
				background: #e3a929;
			}
			
			.wap_slide_bar h4:nth-of-type(2).on {
				background: #f15d1a;
			}
			
			.wap_slide_bar h4:nth-of-type(3).on {
				background: #c33c8a;
			}
			
			.wap_slide_bar h4:nth-of-type(4).on {
				background: #056bab;
			}
			
			.wap_slide_bar h4:nth-of-type(5).on {
				background: #03d89a;
			}
			
			.wap_slide_bar h4:nth-of-type(6).on {
				background: #358c30;
			}
			
			.wap_slide_bar ul:nth-of-type(1) a {
				color: #e3a929;
			}
			
			.wap_slide_bar ul:nth-of-type(2) a {
				color: #f15d1a;
			}
			
			.wap_slide_bar ul:nth-of-type(3) a {
				color: #c33c8a;
			}
			
			.wap_slide_bar ul:nth-of-type(4) a {
				color: #056bab;
			}
			
			.wap_slide_bar ul:nth-of-type(5) a {
				color: #03d89a;
			}
			
			.wap_slide_bar ul:nth-of-type(6) a {
				color: #358c30;
			}
			
			.wap_slide_bar h4 span {
				float: right;
				line-height: 50px;
			}
			
			.wap_slide_bar h4 span.glyphicon-menu-up {
				display: none;
			}
			
			.wap_slide_bar h4.on span.glyphicon-menu-up {
				display: block;
			}
			
			.wap_slide_bar h4.on span.glyphicon-menu-down {
				display: none;
			}
			
			.wap_slide_bar ul {
				margin-left: 36px;
				margin-right: 12px;
				font-size: 23px;
				display: none;
			}
			
			.wap_slide_bar ul>li {
				font-weight: normal;
				border-bottom: 1px solid #dbdbdb;
			}
			
			.wap_slide_bar ul>li a {
				display: block;
				padding: 15px 0;
			}
			/*家装页面样式*/
			
			.route {
				position: relative;
				z-index: 1;
				margin-top: -50px;
			}
			
			.route .row {
				background: #fff;
			}
			
			.route .breadcrumb {
				background: #fff;
				height: 50px;
				border-radius: 0;
				padding: 15px 0;
				margin: 0 20px;
				line-height: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			
			.route .breadcrumb a {
				color: #04287e;
				font-size: 14px;
			}
			
			.route .breadcrumb a:hover {
				opacity: .8;
			}
			
			.breadcrumb>li+li:before {
				color: #04287e;
			}
			
			header .header_pc .header_about ul li a.icon {
				margin-right: 0;
			}
			
			header .header_pc .header_about ul li a.icon span {
				background: url(../img/icon_wb_lan.png) no-repeat;
				margin: -6px 0 0 0;
				display: inline-block;
				width: 28px;
				height: 23px;
			}
			
			header .header_pc .header_about ul li a.icon span.icon_wb {
				background-position: 0 0;
			}
			
			header .header_pc .header_about ul li a.icon span.icon_lan {
				background-position: -46px 0;
			}
			
			.pro_menu {
				margin-top: 40px;
			}
			
			.pro_menu .pro_menu_kv {
				position: relative;
			}
			
			.pro_menu .pro_menu_kv img {
				width: 100%;
			}
			
			.pro_menu .pro_menu_kv .txt {
				position: absolute;
				top: 40px;
				left: 33px;
				width: 94%;
				color: #fff;
				line-height: 24px;
			}
			
			.pro_menu .pro_menu_kv .txt h3 {
				margin-top: 0;
			}
			
			.pro_menu .pro_menu_kv .txt p {
				width: 60%;
			}
			
			.pro_menu .menu_tab {
				margin: -170px 33px 0 33px;
				position: relative;
				overflow: hidden;
			}
			
			.pro_menu .menu_tab li {
				width: 180px;
				height: 50px;
				line-height: 48px;
				text-align: center;
				border: 1px solid #fff;
				color: #fff;
				float: left;
				cursor: pointer;
			}
			
			.pro_menu .menu_tab li.active {
				background: #fff;
			}
			
			.pro_menu .menu_tab li a {
				color: #fff;
				font-size: 18px;
			}
			
			.pro_menu .menu_tab li.active a {
				color: #017bd0;
			}
			
			.pro_menu .menu_list {
				position: relative;
				background: #fff;
				margin: -120px 20px 0 20px;
				overflow: hidden;
				padding: 8px;
				min-height: 120px;
			}
			
			.pro_menu.jz .menu_list {
				margin-top: 0px;
			}
			
			.pro_menu .menu_list li {
				float: left;
				width: 16.66%;
				padding: 8px;
			}
			
			.pro_menu .menu_list li a {
				display: inline-block;
				width: 100%;
				border: 1px solid #dbdbdb;
				padding: 15px 0;
				text-align: center;
				color: #444444;
				font-weight: bold;
				position: relative;
			}
			
			.pro_menu .menu_list li:hover a {
				color: #fff;
				background: #017bd0;
			}
			
			.pro_menu .menu_list li:hover a:after {
				display: block;
				content: '';
				position: absolute;
				left: 50%;
				bottom: -1px;
				margin-left: -4px;
				width: 8px;
				height: 5px;
				background: url(../img/active_bg.png) no-repeat;
			}
			
			.pro_menu.jz .menu_list li.active a {
				background: #017bd0;
				color: #FFFFFF;
			}
			
			.pro_menu .menu_list li.active a:after {
				display: block;
				content: '';
				position: absolute;
				left: 50%;
				bottom: -1px;
				margin-left: -4px;
				width: 8px;
				height: 5px;
				background: url(../img/active_bg.png) no-repeat;
			}
			
			.pro_menu .pro_list {
				position: relative;
				overflow: hidden;
				margin-bottom: 40px;
			}
			
			.pro_menu .pro_list p.pro_num {
				color: #017bd0;
				font-size: 16px;
				padding: 25px 0;
				border-bottom: 1px solid #dbdbdb;
				margin-bottom: 20px;
			}
			
			.pro_menu .pro_list p span {
				margin: 0 5px;
			}
			
			.pro_menu .pro_list_jz {
				position: relative;
				overflow: hidden;
			}
			
			.pro_menu ul.pro_list_jz li {
				position: relative;
				float: left;
				width: 276px;
				height: 460px;
				text-align: center;
				overflow: hidden;
				margin-right: 22px;
				margin-bottom: 42px;
			}
			
			.pro_menu ul.pro_list_jz li:nth-child(4n) {
				margin-right: 0;
			}
			
			.pro_menu .pro_list_jz li p {
				font-size: 20px;
				font-weight: bold;
				margin: 35px 0 0 0;
				display: inline-block;
				width: 100%;
				height: 56px;
			}
			
			.pro_menu .pro_list_jz li img {
				position: relative;
				z-index: 1;
				width: 210px;
			}
			
			.pro_menu .pro_list_jz li .link {
				height: 60px;
				border-top: 1px solid #fff;
				position: absolute;
				width: 100%;
				bottom: 0;
				z-index: 2;
			}
			
			.pro_menu .pro_list_jz li .link a {
				width: 48%;
				display: inline-block;
				line-height: 60px;
				color: inherit;
			}
			
			.pro_menu .pro_list_jz li .link a:hover {
				opacity: .8;
			}
			
			.pro_menu .pro_list_jz li .link a:first-child {
				border-right: 1px solid #fff;
			}
			/*家装产品详情页*/
			
			.pro_detail {
				padding-top: 40px;
			}
			
			.pro_detail .pro_detail_kv {
				position: relative;
			}
			
			.pro_detail .pro_detail_kv>img {
				width: 100%;
			}
			
			.pro_detail.jz .pro_detail_kv .txt {
				padding: 35px 90px 0 74px;
				background: none;
				position: absolute;
				top: 0;
			}
			
			.pro_detail.jz .pro_detail_kv .txt .media-left {
				padding-right: 25px;
			}
			
			.pro_detail.jz .pro_detail_kv .txt h4 {
				font-size: 24px;
				color: #00477b;
				margin: 70px 0 20px 0;
			}
			
			.pro_detail.jz .pro_detail_kv .txt .link {
				margin-top: 40px;
			}
			
			.pro_detail.jz .pro_detail_kv .txt .link a {
				display: inline-block;
				text-align: center;
				font-size: 18px;
				color: #fff;
				line-height: 50px;
				width: 200px;
				margin-right: 60px;
			}
			
			.pro_detail.jz .pro_detail_kv .txt .link a img {
				margin-right: 20px;
			}
			
			.pro_detail.jz .pro_detail_kv .txt .link a.tm {
				background: #e12823;
			}
			
			.pro_detail.jz .pro_detail_kv .txt .link a.jd {
				background: #206ad8;
			}
			
			.partition {
				position: relative;
				margin-top: 40px;
				margin-bottom: 60px;
			}
			
			.partition .part_left {
				width: 780px;
				margin-right: 20px;
				float: left;
				position: relative;
			}
			
			.partition .part_left .pro_des_t {
				color: #04287e;
				font-size: 20px;
				border: 1px solid #e5e5e5;
				background: #f2f2f2;
				padding: 20px;
				font-weight: bold;
				cursor: pointer;
			}
			
			.partition .part_left .pro_des_t span {
				float: right;
			}
			
			.pro_detail .pro_des .pro_des_c {
				margin-bottom: 20px;
				border: 1px solid #e5e5e5;
				padding: 20px;
			}
			
			.pro_detail .pro_des .pro_des_c li {
				overflow: hidden;
				padding: 30px 60px;
			}
			
			.pro_detail .pro_des .pro_des_c li.c1 {
				background: #f5f8fd;
			}
			
			.pro_detail .pro_des .pro_des_c li.c2 {
				background: #f1faff;
			}
			
			.pro_detail .pro_des .pro_des_c li.c3 {
				background: #fff2f6;
			}
			
			.pro_detail .pro_des .pro_des_c li.c4 {
				background: #ecfffe;
			}
			
			.pro_detail .pro_des .pro_des_c li.c5 {
				background: #fff9e2;
			}
			
			.pro_detail .pro_des .pro_des_c li h4 {
				font-size: 20px;
				position: relative;
				font-weight: bold;
			}
			
			.pro_detail .pro_des .pro_des_c li.c1 h4 {
				color: #3b7cdd;
			}
			
			.pro_detail .pro_des .pro_des_c li.c2 h4 {
				color: #41a0d6;
			}
			
			.pro_detail .pro_des .pro_des_c li.c3 h4 {
				color: #ff4e84;
			}
			
			.pro_detail .pro_des .pro_des_c li.c4 h4 {
				color: #39d8d1;
			}
			
			.pro_detail .pro_des .pro_des_c li.c5 h4 {
				color: #f6c502;
			}
			
			.partition .part_left .pro_des_c ul li h4:before {
				background: url(../img/icon_desc.png) no-repeat;
				content: '';
				display: block;
				position: absolute;
				width: 29px;
				height: 29px;
				left: -42px;
			}
			
			.partition .part_left .pro_des_c ul li.c1 h4:before {
				background-position: 0 -176px;
			}
			
			.partition .part_left .pro_des_c ul li.c2 h4:before {
				background-position: 0 -59px;
			}
			
			.partition .part_left .pro_des_c ul li.c3 h4:before {
				background-position: 0 -87px;
			}
			
			.partition .part_left .pro_des_c ul li.c4 h4:before {
				background-position: 0 -206px;
			}
			
			.partition .part_left .pro_des_c ul li.c5 h4:before {
				background-position: 0 -149px;
			}
			
			.partition .part_right {
				width: 370px;
				float: right;
			}
			
			.partition .part_right .info_center_link a {
				float: left;
				margin-bottom: 20px;
			}
			
			.pro_detail .pro_des .pro_des_c .jz_video {
				width: 422px;
				height: 237px;
				position: relative;
				margin: 0 auto;
			}
			
			.pro_detail .pro_des .pro_des_c .jz_video .video-js {
				width: 100%;
				height: 100%;
			}
			
			.pro_detail .pro_des .pro_des_c .swiper-slide p {
				text-align: center;
				margin: 10px 0 10px 0;
			}
			
			.pro_detail .pro_des .pro_des_c li p {
				line-height: 30px;
			}
			
			.pro_detail .pro_des .pro_des_c .xg_exm_list {
				position: relative;
				overflow: hidden;
			}
			
			.pro_detail .pro_des .pro_des_c .xg_exm_list li {
				position: relative;
				border: 1px solid #dbdbdb;
				float: left;
				margin: 0 54px 31px 0;
				padding: 0;
				width: 210px;
			}
			
			.pro_detail .pro_des .pro_des_c .xg_exm_list.l1 li {
				height: 125px;
				overflow: hidden;
				text-align: center;
				line-height: 120px;
			}
			
			.pro_detail .pro_des .pro_des_c .xg_exm_list li:nth-child(3n) {
				margin-right: 0;
			}
			
			.pro_detail .pro_des .pro_des_c .xg_exm_list li p {
				text-align: center;
				color: #04287e;
			}
			
			.pro_detail .pro_des .pro_des_c .jz_video .vjs-poster {
				background-size: cover;
			}
			
			.pro_detail .pro_des .pro_des_c .xg_exm_list li img {
				max-width: 100%;
				min-height: 100%;
			}
			/*家装色彩体系样式*/
			
			.jz_sctx {
				padding: 0 20px;
				margin-bottom: 40px;
			}
			
			.jz_sctx .color_swiper {
				position: relative;
				background: #f1f1f1;
				padding: 20px 44px;
			}
			
			.jz_sctx .color_swiper .swiper-container {
				padding-bottom: 9px;
			}
			
			.jz_sctx .color_swiper .color_box {
				position: relative;
				border: 2px solid #fff;
			}
			
			.jz_sctx .color_swiper .on .color_box {
				border-color: #c6458d;
			}
			
			.jz_sctx .color_swiper .on .color_box:before {
				position: absolute;
				content: '';
				display: block;
				width: 19px;
				height: 9px;
				background: url(../img/icon_color.png) no-repeat;
				bottom: -9px;
				left: 50%;
				margin-left: -9.5px;
			}
			
			.jz_sctx .color_swiper .color_box img {
				width: 100%;
			}
			
			.jz_sctx .color_swiper .color_box .txt {
				position: absolute;
				width: 100%;
				height: 40px;
				top: 50%;
				margin-top: -20px;
				left: 0;
				z-index: 1;
				text-align: center;
				display: table;
				display: none;
			}
			
			.jz_sctx .color_swiper .on .color_box .txt {
				display: block;
			}
			
			.jz_sctx .detail_swiper {
				margin-top: 10px;
			}
			
			.jz_sctx .detail_swiper .detail_left {
				position: relative;
				float: left;
				margin-right: 10px;
			}
			
			.jz_sctx .detail_swiper .detail_left p {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				color: #fff;
				padding: 10px 15px;
				background: rgba(0, 0, 0, .5);
			}
			
			@media (max-width:1200px) {
				header {
					height: 50px;
				}
				/*我要产品*/
				.for_pro,
				.for_service .fs_con {
					padding: 0 12px;
				}
				.for_pro .fp_l,
				.for-pro .fp-r {
					width: 100%;
					margin: 0;
				}
				.for_pro .fp_con {
					width: 100%;
				}
				.for_pro img.hidden-lg {
					width: 100%;
				}
				.for_pro .fp_con .txt {
					font-size: 16px;
					padding: 6px 10px 5px 10px;
				}
				.for_pro .fp_l .fp_con,
				.for_pro .fp_r .fp_con {
					margin: 0 0 10px 0!important;
				}
				.for_pro .fp_con .txt img {
					width: 18px;
				}
				.for_pro .fp_l .fp_con:nth-child(2),
				.for_pro .fp_l .fp_con:nth-child(3) {
					width: 49.5%;
				}
				.for_pro .fp_l .fp_con:nth-child(3) {
					float: right;
				}
				/*我要服务*/
				.for_service {
					background: none;
					height: auto;
				}
				.for_service .fs_li,
				.for_service .fs_li .on {
					width: 100%;
					height: auto;
				}
				.for_service .fs_li {
					padding: 10px;
					margin-bottom: 6px;
				}
				.for_service .fs_li .icon {
					float: left;
					width: 30%;
					text-align: center;
					padding: 35px 0;
				}
				.for_service .fs_li .txt {
					width: 70%;
					float: left;
				}
				.for_service .fs_li .txt h4 {
					margin-bottom: 10px;
				}
				.for_service .fs_li .txt h4 span {
					width: 100%;
				}
				.for_service .fs_li .txt h4 img {
					visibility: visible;
					display: block;
					opacity: 1;
				}
				/*资讯中心*/
				.for_info {
					padding: 0 12px;
					background: #fff;
					overflow: hidden;
				}
				.for_info .fi_one {
					background: #f4f3f3;
					padding: 10px;
				}
				.for_info .fi_one img,
				.for_info .fi_one .txt,
				.for_info .fi_list li .txt {
					float: none;
					height: auto;
					width: 100%;
				}
				.for_info .fi_list li .txt h4 {
					margin: 0;
				}
				.for_info .fi_one .txt {
					margin: 0;
					background: none;
					padding: 20px 50px 20px 20px;
				}
				.for_info .txt h4 {
					font-size: 16px;
				}
				.for_info .fi_one .txt p {
					font-size: 12px;
				}
				.for_info .fi_one .txt p.get_more {
					text-align: center;
				}
				.for_info .fi_list {
					margin-top: 10px;
					overflow: hidden;
					float: left;
					margin-bottom: 0;
				}
				.for_info .fi_list li {
					width: 100%;
					background: #f4f3f3;
					margin-bottom: 10px;
					padding: 10px;
				}
				.for_info .fi_list li .txt {
					padding: 10px 64px 10px 10px;
				}
				.for_info .fi_list li img {
					width: 90px;
					margin-right: 10px;
				}
				/*视频中心*/
				.video_center {
					background: none;
					height: auto;
				}
				.video_center .vc_con .vc_company,
				.video_center .vc_con .vc_video {
					width: 100%;
					height: 100%;
					position: relative;
					top: auto;
					left: auto;
					right: auto;
				}
				.video_center .vc_con .main_title p {
					color: #000000;
				}
				.video_center .vc_con .vc_video .vd_bg {
					padding: 30px 25px 0 25px;
					background: url(../img/vc_video_bg.jpg) no-repeat 100%;
				}
				.video_center .vc_con .vc_video .vd_main {
					position: relative;
					width: 90%;
					height: 100%;
				}
				.video_center .vc_con .vc_video .vd_main .hidden-lg {
					opacity: 0;
					visibility: hidden;
					z-index: 0;
					width: 100%;
				}
				.video_center .vc_con .get_more a {
					margin: 26px 0;
				}
				/*集团概况*/
				.video_center .vc_con .vc_company ul {
					padding: 30px 20px 10px 20px;
					background: url(../img/vc_company_bg.jpg) no-repeat 50%;
				}
				.video_center .vc_con .vc_company ul li {
					margin-bottom: 20px;
				}
				/*家装列表页面样式*/
				.main>.container>.row>.pro_menu {
					margin-top: 0;
				}
				.main>.container>.row>.pro_menu>.menu_tab {
					margin: 0;
					background: none;
					margin-top: -220px;
					height: 82px;
				}
				.pro_menu .menu_tab ul {
					padding: 12px 12px 30px 12px;
					position: relative;
					overflow: hidden;
				}
				.pro_menu>.menu_tab>ul>li {
					width: 50%;
				}
				.main>.container>.row>.pro_menu>.pro_menu_kv>.txt {
					position: absolute;
					width: 100%;
					padding: 20px 20px 40px 20px;
					font-size: 14px;
					top: 0;
					left: 0;
				}
				.pro_menu.jz .pro_menu_kv .txt {
					position: absolute;
					top: 0;
					background: none;
				}
				.menu_list_wap {
					position: relative;
					width: 100%;
					padding: 0px 12px;
					margin-top: -20px;
				}
				.menu_list_wap .btn-group {
					padding: 10px;
					width: 100%;
					background: #fff;
				}
				.menu_list_wap .btn-group .btn-group-con {
					position: relative;
				}
				.menu_list_wap .btn-group .btn-group-con>button {
					font-weight: bold;
					width: 100%;
					text-align: left;
					background: #f4f3f3;
				}
				.menu_list_wap .btn-group .btn-group-con>button span {
					float: right;
					position: relative;
					top: 8px;
					border-width: 6px 6px 0;
				}
				.menu_list_wap .btn-group .btn-group-con ul {
					width: 100%;
				}
				.menu_list_wap .btn-group .btn-group-con ul a {
					padding: 10px 20px;
				}
				.pro_menu .pro_list {
					background: #FFFFFF;
					padding: 0 12px;
				}
				.main>.container>.row>.pro_menu>.pro_list>p.pro_num {
					padding: 15px 0;
				}
				.pro_menu>.pro_list>ul.pro_list_jz>li {
					height: auto;
					width: 48%;
					margin: 0 1% 20px 1%;
					padding-bottom: 40px;
				}
				.pro_list_jz {
					margin-bottom: 20px;
				}
				.pro_menu .pro_list_jz li img {
					max-width: 90%;
				}
				.main>.container>.row>.pro_menu>.pro_menu_kv>.txt>p {
					width: 100%;
				}
				.main>.container>.row>.pro_menu .pro_list_jz li p {
					margin: 15px 0 10px 0;
					height: 32px;
					font-size: 16px;
				}
				.main>.container>.row>.pro_menu .pro_list_jz li .link {
					height: 40px;
				}
				.main>.container>.row>.pro_menu .pro_list_jz li .link a {
					line-height: 40px;
				}
				/*家装详细产品页面*/
				.pro_detail {
					padding-top: 0!important;
				}
				.row>.pro_detail.jz>.pro_detail_kv>.txt {
					position: relative;
					margin-top: -48%;
					padding: 8% 12px 60px 12px;
				}
				.row>.pro_detail.jz .pro_detail_kv .txt .media-left {
					width: 30%;
					padding-right: 5%;
				}
				.pro_detail.jz .pro_detail_kv .link {
					padding: 10px 12px;
					margin-top: -30px;
					position: absolute;
					bottom: 0;
					width: 100%;
					overflow: hidden;
				}
				.pro_detail.jz .pro_detail_kv .txt .media-left img {
					width: 100%;
				}
				.row>.pro_detail.jz .pro_detail_kv .txt h4 {
					margin: 0 0 10px 0;
					font-size: 16px;
					font-weight: bold;
				}
				.pro_detail.jz .pro_detail_kv .link {
					padding: 10px 12px;
					margin-top: -30px;
					position: absolute;
					bottom: 0;
					width: 100%;
					overflow: hidden;
				}
				.pro_detail.jz .pro_detail_kv .link a {
					width: 45%;
					margin: 0 2.5%;
					float: left;
					display: inline-block;
					text-align: center;
					font-size: 14px;
					color: #fff;
					line-height: 40px;
				}
				.pro_detail.jz .pro_detail_kv .link a.tm {
					background: #e12823;
				}
				.pro_detail.jz .pro_detail_kv .link a.jd {
					background: #206ad8;
				}
				.pro_detail.jz .pro_detail_kv .link a img {
					padding-right: 20px;
				}
				.partition {
					margin: 0!important;
				}
				.row>.pro_detail>.partition .part_left {
					width: 100%;
					margin: 0;
				}
				.pro_detail .pro_des .pro_des_c .jz_video {
					width: 100%;
				}
				.pro_detail .pro_des .pro_des_c {
					padding: 12px;
				}
				.pro_detail .pro_des .pro_des_c li {
					padding: 15px 20px;
				}
				.partition .part_left .pro_des_c ul li h4:before {
					display: none;
				}
				.pro_detail .pro_des .pro_des_c .xg_exm_list li {
					width: 48%;
					margin: 1% 1% !important;
				}
				.pro_detail .pro_des .pro_des_c .xg_exm_list.l1 li {
					height: 124px;
				}
				.pro_detail .pro_des .pro_des_c .xg_exm_list li img {
					width: 100%;
				}
				.part_right {
					display: none;
				}
			}
			
			@media only screen and (min-width: 992px) and (max-width: 1200px) {
				.video_center .vc_con .vc_company ul li {
					width: 34%;
					margin-left: 130px;
				}
			}
			
			@media (max-width: 992px) {
				.main_title {
					margin: 10px auto;
					width: 70%;
				}
				.index_kv img.kv_pc {
					display: none;
				}
				.index_kv img.kv_wap {
					display: block;
					width: 100%;
				}
				.index_kv,
				.index_kv.index {
					height: auto;
				}
				footer {
					background: #f4f3f3;
				}
				footer .footer_info {
					padding: 15px 12px;
				}
				footer .footer_info .info_con {
					float: none;
					text-align: center;
				}
				footer .footer_info .info_share {
					width: 100%;
					text-align: center;
					margin-top: 15px;
					padding-top: 15px;
					border-top: 1px solid #dbdbdb;
				}
				footer .footer_info .qr_code {
					width: 100%;
					padding: 0 10%;
				}
				footer .footer_info .qr_code ul li {
					width: 50%;
					margin: 0;
				}
				.video_center .vc_con .vc_company ul li img {
					width: 46px;
				}
				.video_center .vc_con .vc_company ul li .txt p {
					font-size: 12px;
				}
				.video_center .vc_con .vc_company ul li .txt h4 {
					font-size: 16px;
				}
				.video_center .vc_con .vc_company ul li .txt h4 b {
					font-size: 24px;
				}
				.video_center .vc_con .vc_company ul {
					padding: 30px 10px 10px 10px;
				}
			}
			
			@media only screen and (max-width:670px) {
				.main>.container>.row>.pro_menu>.menu_tab {
					margin-top: -61px;
				}
			}